# Node.js
node_modules/

# Account info
# accounts.json

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db

data/
test/*.png
test/*.jpeg
public/images

# Build output
dist/
